<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body>
<h1>WYLOSOWANA LITERA TO: {{ letter.toUpperCase() }}</h1>
<form>
  <div class="form-container">
    <div class="sub-form-1">
      <label for="country_input_id">Państwo: </label>
      <input type="text" id="country_input_id" name="fname" [(ngModel)]="country"><br><br>
      <label for="city_input_id">Miasto: </label>
      <input type="text" id="city_input_id" name="lname" [(ngModel)]="city"><br><br>
      <label for="animal_input_id">Zwierzę: </label>
      <input type="text" id="animal_input_id" name="lname" [(ngModel)]="animal"><br><br>
    </div>

    <div class="sub-form-2">
      <label for="item_input_id">Rzecz: </label>
      <input type="text" id="item_input_id" name="fname" [(ngModel)]="item"><br><br>
      <label for="plant_input_id">Roślina: </label>
      <input type="text" id="plant_input_id" name="lname" [(ngModel)]="plant"><br><br>
      <label for="river_input_id">Rzeka: </label>
      <input type="text" id="river_input_id" name="lname" [(ngModel)]="river"><br><br>
    </div>
  </div>

  <input type="submit" value="Zatwierdź" (click)="onSubmitClick()">
  <input type="submit" value="Zakończ grę" (click)="onEndGameClick()">
</form>
<div class="timer">
  <p class="timer_label">Czas:</p>
  <p class="time_left_p">{{timeLeft}}</p>
</div>


</body>

</html>

